body {
  /* 공백 없애기 */
  margin: 0 0;
}

/* anchor 태그 설정 */
a {
  /* 밑줄 제거 */
  text-decoration: none;
  color: black;
}

/* anchor 태그 동작 설정 */
a:hover {
  color: #0d47a1;
}

/* 네비게이션 바 설정 */
.navbar {
  /* 요소들 가로로 정렬 */
  display: flex;
  /* 요소들 수직 기준으로 가운대 정렬 */
  align-items: center;
  /* 요소와 모서리 사이의 간격 설정(세로 가로) */
  padding: 7px 30px;
  /* 배경 색 지정 */
  background: #b3e5fc;
}

/* 로고 설정 */
.navbar_logo {
  /* 로고크기 */
  font-size: 24px;
}

/* 메뉴 설정 */
.navbar_menu {
  /* 리스트 가로 정렬 */
  display: flex;
  /* 점 없애기 */
  list-style: none;
  padding: 10px;
}

/* 메뉴 리스트 설정 */
.navbar_menu li {
  font-size: 15px;
  padding: 3px 10px;
}

/* 홈으로 돌아가기 아이콘 */
.navbar_homeicon {
  position: absolute;
  right: 30px;
  font-size: 24px;
}

/* 글 작성 공간 설정 */
.write {
  /* 요소 세로 정렬 */
  display: flex;
  flex-direction: column;
  /* 테두리 설정 */
  border: 3px solid #b3e5fc;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  padding: 20px;
  margin: 50px auto;
}

/* 글작성완료 수정 옵션 */
.table_option {
  margin-top: 20px;
  font-size: 15px;
}

/* 글작성, 완료, 취소 태그 위치 조정 */
.write_complete {
  float: left;
  color: black;
  font-size: 17px;
}

.write_cancel {
  float: right;
  color: black;
  padding-left: 10px;
  font-size: 17px;
}

/* 브라우저 가로가 800px 이하일 때 설정
    - 미디어 쿼리 */
@media screen and (max-width: 800px) {
  /* 네비게이션 바 세로 정렬 */
  .navbar {
    flex-direction: column;
  }

  /* 로고 가운대 정렬 */
  .navbar_logo {
    align-items: center;
  }

  /* 메뉴 가운대 정렬 */
  .navbar_menu {
    align-items: center;
  }

  /* 메뉴 리스트 설정 */
  .navbar_menu li {
    font-size: 20px;
    padding: 10px 10px;
  }
}
