/* 1. 필요없다고 생각되는 속성들 초기화 */
html,
body {
  margin: 0;
  padding: 0;
}

/* 
2. h태그와 p태그는 기본적으로 위아래
margin을 가지고 있다.
margin을 초기화 시켜준다.
*/
h1,
p {
  margin: 0;
}

/* 5. a 태그의 속성을 정의 */
a {
  /* 부모로 부터 상속된 값을 적용 받기 */
  color: inherit;
  /* 링크 표시를 없애준다. */
  text-decoration: none;
}

/* 
3. 배경을 추가해 준다.
no-repear -> 크기가 커졌을때 배경이 반복되는 것을 없애 준다.
vw, vh와 %의  차이점
vw,vh -> 가로 세로의 지금 가지고 있는 크기의 최대치
% -> margin빼고 다 100%가 됌.
따라서 정확하게 전체를 다 사용할 경우에는 vw, vh를 사용
*/
#main {
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

/* 4. 컨텐츠의 텍스트 생상을 흰색으로 */
#contents {
  color: white;
  /* 절대적인 좌푤 지점을 설정해준다. */
  position: absolute;
  width: 60%;
  /* 이렇게만 주게되면 시작 지점이 50%이고, 요소가 50%지점이 오는 것이 아니다. */
  top: 50%;
  /* 요소 자체가 중앙에 오기 위해서 */
  transform: translateY(-50%);
  /* 텍스트를 중앙으로 위치 */
  text-align: center;
  font-family: "Questrial", sans-serif;
}

/* 6. 구글 폰트 사용 */
#contents h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  margin-bottom: 16px;
}

#contents p {
  /* 폰트 사이즈 지정 */
  font-size: 18px;
}

/* a 태그를 버튼처럼 만들어 본다. */
#contents a {
  display: inline-block;
  /* 직사각형의 테두리를 생성 */
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  /* 마우스를 올릴때 0.5초동안의 애니메이션 효과적용 */
  transition: all 0.5s;
}

/* 마우스가 올라가면 색상이 변하도록 변경 */
#contents a:hover {
  background-color: gray;
}

/* 미디어 쿼리 적용 */
@media (max-width: 770px) {
  #contents {
    margin-left: 20px;
  }
  #contents h1 {
    font-size: 50px;
  }
  #contents p {
    font-size: 20px;
  }

  #contents a {
    font-size: 20px;
  }
}
